{% extends "ThiktakUserBundle::layout.html.twig" %}

{% block menu %}
  {% render "ThiktakUserBundle:User:menu" %}
{% endblock %}

{% block body %}

<section>
  <header>
    <hgroup>
      <h1>Users</h1>
      <h2>List</h2>
    </hgroup>
    <aside>
      <ul>
        <li>
          <a href="{{ path('user') }}"><i class="icon-list"></i></a>
        </li>
        <li>
          <a href="{{ path('user_new') }}"><i class="icon-plus"></i></a>
        </li>
        <li>
          <a href="{{ path('user_edit', {id: app.user.id}) }}"><i class="icon-user"></i> Fiche</a>
        </li>
        <li>
          <a href="{{ path('user_edit_roles', {id: app.user.id}) }}"><i class="icon-screenshot"></i> Roles &amp; groupes</a>
        </li>
        <li>
          <a href="{{ path('fos_user_change_password', {id: app.user.id}) }}"><i class="icon-screenshot"></i> Modifier mon mot de passe</a>
        </li>
      </ul>
    </aside>
  </header>

  <article class="wbox">
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div class="form-actions">
          <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
        </div>
    </form>
  </article>
</section>
{% endblock %}