
            <ul>
              <li><a href="{{ path('student') }}"><i class="icon-list"></i> Liste des étudiants</a></li>
              <li><a href="{{ path('student_new') }}"><i class="icon-plus"></i> Ajouter un étudiant</a></li>
              <li><a href="#"><i class="icon-upload"></i> Importer</a></li>
              
              {% for type, item in filters %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-filter"></i> {{ ('filter.' ~ type)|trans }}
                  <span class="pull-right">{{ item.values|join(', ') }} <b class="caret"></b></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  {% for iType, iValues in item.choices %}
                    {% for key, val in iValues %}
                  <li>
                    <a href="{{ path('filter_apply', {'type': iType, key: type, value: key}) }}">
                      {{ val }}
                    </a>
                  </li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>