{% extends "::layout.html.twig" %}

{% block menu %}
  {% render "BDEMemberBundle:Student:menu" %}
{% endblock %}

{% block body %}

            <header>
              <hgroup>
                <h1>Etudiant : {{ entity }}</h1>
              </hgroup>

              <aside>
                <ul>
                  <li><a href="{{ path('student') }}"><i class="icon-list"></i></a></li>
                  <li><a href="{{ path('student_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></li>
                  <!--
                  <li>
                    <form action="{{ path('student_delete', { 'id': entity.id }) }}" method="post">
                      {{ form_widget(delete_form) }}
                      <button type="submit">Delete</button>
                    </form>
                  </li>-->
                </ul>
              </aside>
            </header>

            <div class="main">
              <dl class="dl-horizontal">
                <dt>Id<dt>
                <dd>{{ entity.id }}</dd>
                      
                <dt>Nom<dt>
                <dd>{{ entity.lname }}</dd>
                      
                <dt>Prénom<dt>
                <dd>{{ entity.fname }}</dd>
                      
                <dt class="muted">Crée le <dt>
                <dd class="muted">{{ entity.datecreated|printDate }}</dd>
              </dl>

              <article>
                <header>
                  <hgroup>
                    <h1>Cotisations</h1>
                  </hgroup>
                </header>
                <table class="body">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Code</th>
                      <th>Année</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in entity.member %}
                    <tr>
                      <td>{{ item.id }}</td>
                      <td>{{ item.getCode(true) }}</td>
                      <td>{{ item.year }} - {{ item.year + item.subscription }} ({{ item.subscription }})</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </article>
            </div>

{% endblock %}
