{% extends "::base.html.twig" %}

{% block base_body %}

<div class="modal" tabindex="-1">
  <div class="modal-header">
	  <div class="content"><h3>Login</h3></div>
  </div>
	<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin text-center">
 		 <div class="modal-body">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			<p>
				<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" class="span4" />
			</p>

			<p>
				<input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" class="span4" />
			</p>

			<p>
				<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			</p>

		</div>
		<div class="modal-footer">
      <a href="{{ path('fos_user_resetting_request') }}" class="btn pull-left btn-large" style="opacity: .5">Mot de passe oublié ?</a>
			<input type="submit" class="btn btn-large btn-success" value="{{ 'security.login.submit'|trans }}" />
		 </div>
	</form>
</div>
{% endblock %}

{% block stylesheets %}
		<style>
			.form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
		</style>
{% endblock %}